A3S_CLOUD_POSTGRES_DB=a3s_cloud
A3S_CLOUD_POSTGRES_PASSWORD=a3s_cloud
A3S_CLOUD_POSTGRES_PORT=54320
A3S_CLOUD_POSTGRES_USER=a3s_cloud
A3S_CLOUD_NATS_PORT=42220
A3S_CLOUD_NATS_MONITOR_PORT=8220
A3S_CLOUD_REGISTRY_PORT=50020
